<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Add React in One Minute</title>
  </head>
  <body>
    <!-- We will put our React component inside this div. -->
    <div id="root"></div>

    <!-- Load React. -->
    <!-- Note: when deploying, replace "development.js" with "production.min.js". -->
    <script src="https://unpkg.com/react@18/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js" crossorigin></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    {# <script src='https://unpkg.com/react-router-dom@6.6.2/dist/umd/react-router-dom.production.min.js'></script> #}
    <script src='https://unpkg.com/react-router-dom@5.1.0/umd/react-router-dom.min.js'></script>


    <!-- Load your React component. -->
    {# <script src="app.js"></script> #}
    <script src="{{ url_for('static', filename='js/app.js') }}" type="text/babel"></script>


  </body>
</html>