Content-type:text/html
<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
<h1>Chinews</h1>
 
 <p>
            Дата: <i>{{news.date}}</i>
        </p>
        <h2>
        {{news.ru_title}}
        </h2>


        <p size="20">
        {{news.ru_desc}}
        </p>

        <dl>
            <dt>источник</dt>
            <dd>
                <a href="{{news.url}}">{{news.source}}</a>
            </dd>
        </dl>