<p>
    Дата: <i>{{news.date}}</i>
</p>
<h2>
{{news.ru_title}}
</h2>


<p size="20">
{{news.ru_desc}}
</p>

<dl>
    <dt>источник</dt>
    <dd>
        <a href="{{news.url}}">{{news.source}}</a>
    </dd>
</dl>